*,
*::before,
*::after {
  box-sizing: border-box;
}

html,

body {
  font-family: sans-serif;
  background-color: #f9fbfd;
}
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}


.header{
    padding:20px 35px;
    top:0;
}
.score{
    font-style: normal;
    font-size: 12px;
    color:rgb(204, 64, 204);
    margin: 0;
    display: inline;
}
.score:hover{
  cursor: pointer;
}

.timer{
    float: right;
    font-style: normal;
    font-size: 12px;
    margin:0;
}

.subject {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: hsl(206, 17%, 28%);
}

.card {
  background-color: #f9fbfd;
  color: hsl(206, 17%, 28%);
  font-size: 12px;
  margin: 0 auto;
  max-width: 980px;
  padding: 30px 40px;
  text-align: center;
  font-style: normal;
}

.card-footer {
  text-align: center;
  content: " ";
  display: block;
  width: 100%;
  background: #f9fbfd;
}

.quiz{
  background-color: #f9fbfd;
  margin: 0 auto;
  max-width: 600px;
  padding: 30px 40px;
  text-align: center;
  font-style: normal;
}

.iScore{
  background-color: #f9fbfd;
  margin: 0 auto;
  max-width: 600px;
  padding: 30px 40px;
  text-align: center;
  font-style: normal;
}
.all{
  text-align: left;
}
.sDisplay{
  color:black;
  text-align: left;
  font-style: normal;
  font-size: 16px;
  margin: 10px 0;
}
.initial-form{
  font-size: 16px;
  height: 20px;
  width: 100px;
  margin: 10px 0 ;
  text-align: left;
  color:black;
  float: left;
}
.form-input{
  border: 1px solid rgb(77, 160, 212);
  font-size: 16px;
  color:black;
  margin:10px 10px 10px 0;
  width: 175px;
  float: left;
}

.btn {
  border: none;
  background-color: rgb(204, 64, 204);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

.answerDisplay{
  list-style-type: none;
  text-align: left;
}

.QDisplay{
  list-style-type: none;
  text-align: left;
}
.ansBtn{
background-color: rgb(46, 46, 141);
border-radius: 5px;
color:hsl(0, 0%, 100%);
font-size: 12px;
box-shadow: rgba(0, 0, 0, 0.1)0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
line-height: 12px;
margin: 2px 8px 2px 12px;
padding: 7px 16px;
text-align: left;
width: 175px;
}
.ansBtn:hover{
  background-color: rgb(204, 64, 204);
  cursor: pointer;
}

.wrongOrCorrect{
  color: gainsboro;
  margin: 10px;
  border-top: gainsboro 3px solid;
  text-align: left;
  font-style:italic;
  font-size: 24px;
  padding: 10px;
}

button[] {
  cursor: default;
  background: #c0c7cf;
}

.hidden{
  display:none;
}
.highScore{
  background-color: #f9fbfd;
  margin: 0 auto;
  max-width: 600px;
  padding: 30px 40px;
  text-align: center;
  font-style: normal;
}
.highScore1{
  background-color: #f9fbfd;
  margin: 0 auto;
  max-width: 600px;
  padding: 30px 40px;
  text-align: center;
  font-style: normal;
  float:left;
}

.gb{
  margin: 0;
  display: inline;
}
.ansBtn1{
  background-color: rgb(46, 46, 141);
  border-radius: 5px;
  color:hsl(0, 0%, 100%);
  font-size: 12px;
  box-shadow: rgba(0, 0, 0, 0.1)0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
  line-height: 12px;
  margin: 2px 2px 2px 12px;
  padding: 7px 16px;
  text-align: center;
  width: 85px;
  }
  .ansBtn1:hover{
    background-color: rgb(204, 64, 204);
    cursor: pointer;
  }
  .ansBtn2{
    background-color: rgb(46, 46, 141);
    border-radius: 5px;
    color:hsl(0, 0%, 100%);
    font-size: 12px;
    box-shadow: rgba(0, 0, 0, 0.1)0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
    line-height: 12px;
    margin: 2px 8px 2px 2px;
    padding: 7px 16px;
    text-align: center;
    width: 130px;
    float:left;
    }
    .ansBtn2:hover{
      background-color: rgb(204, 64, 204);
      cursor: pointer;
    }
    .ansBtn3{
      background-color: rgb(46, 46, 141);
      border-radius: 5px;
      color:hsl(0, 0%, 100%);
      font-size: 12px;
      box-shadow: rgba(0, 0, 0, 0.1)0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
      line-height: 12px;
      margin: 2px 8px 2px 2px;
      padding: 7px 16px;
      text-align: center;
      width: 75px;
      height: 29px;
      float:left;
      }
      .ansBtn3:hover{
        background-color: rgb(204, 64, 204);
        cursor: pointer;
      }

@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}